body {
 /* Set rules to fill background */
 background-image: url("http://ct3.pimp-my-profile.com/tw/i44/7/4/1/f_21fc8d5d0af2.jpg");
 background-repeat: no-repeat;
 background-size: 100% 1400%;
 background-blend-mode: lighten;
}